#rhythm-box-container {
		margin-top: 2em;
		height: 17em;
		/* border: 2px solid red; */
}

#rhythm-box-reflection-container {
		margin-top: 2em;
		height: 17em;
		/* border: 2px solid blue; */
}

.rhythm-box {
		background-color: #dadada;
		margin:           5px;
		padding:          4px;
		border-radius:    8px;
		height:           15px;
		width:            15px;
		text-align:       center;
}

.rhythm-box.clicked {
  background-color: #555;
}

#rhythm-box-main .rhythm-box {

}

#rhythm-box-reflection .rhythm-box {
		background-color: #eee;
}

.rhythm-box-row {
		float: left;
}

/*
.rhythm-box:hover {
		background-color: #bbb;
}
*/
