#rhythm-box-container {
		height: 17em;
}

.rhythm-box {
		background-color: #dadada;
		margin:           5px;
		padding:          4px;
		border-radius:    8px;
		height:           15px;
		width:            15px;
		text-align:       center;
}

.rhythm-box.clicked {
  background-color: #555;
}

.rhythm-box-column {
		float: left;
}
